$mainColor: #134359;
$secondColor: #50a1a3;
$gold: #ffd700;
$white-color: #ffffff;
$black-color: #292929;
$transition: all 0.3s ease-in-out;
$shadow: 0px 2px 4px #00000030;
$BigShadow: 0px 8px 24px #00000030;

@font-face {
  font-family: Frutiger;
  src: url(../webfonts/Frutiger-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Frutiger;
  src: url(../webfonts/Frutiger.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Frutiger;
  src: url(../webfonts/Frutiger-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

* {
  font-family: "Frutiger";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
  transition: $transition;
}

a:hover {
  text-decoration: none;
  color: $mainColor;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {

  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}

video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background-color: #fff;
}

.select2-container--default .select2-selection--single {
  min-height: 51px;
  display: flex;
  // align-items: center;
  border: 1px solid #d8d8e5;
  color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 16px;
  right: unset;
  top: 45%;
  transform: translateY(-50%);
  transition: $transition;

  &::after {
    content: '\f078';
    font-family: "Font Awesome 6 Pro";
    font-size: 20px;
    font-weight: 300;
    color: #1c5a7d;
  }

  b {
    display: none !important;
  }
}

.select2-container--open.select2-container--focus {
  .select2-selection__arrow {
    transform: translateY(-50%) rotate(180deg);
  }
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  min-height: 51px;
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 0 18px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #fff !important;
  color: $mainColor  !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: none !important;
  border: 1px solid #d8d8e5;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 20px;
  font-size: 18px;
  color: #000;
}

// .select2-container {
//   z-index: 1060;
// }
.container {
  width: 100%;
  max-width: 1218px;
  padding: 0px 24px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  box-shadow: none !important;
  border: 1px solid #d8d8e5 !important;
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.navbar {
  background: #ffffff00;
  box-shadow: none;
  transition: .5s ease;
  padding: 50px 0;

  @media (max-width: 992px) {
    background: #ffffff;
    padding: 10px;
  }

  @media (max-width: 480px) {
    padding: 10px;
  }

  @media (max-width: 480px) {
    .container {
      padding-left: 0px;
    }
  }

  box-shadow: 0 0 30px 1.26px transparent;
  transition: $transition;

  .navbar-brand {
    margin: 0;
    padding: 0;

    img {
      height: 43.2px;
      transition: .5s ease;
      width: 100%;
      object-fit: contain;

      @media (max-width: 480px) {
        height: 31.7px;
      }
    }
  }

  .nav-link {
    color: $mainColor;
    transition: $transition;
    font-size: 12px;
    position: relative;
    display: inline-flex;
    margin: 0 6px;
    padding: 8px 4px;

    i {
      font-size: 14px;
    }

    &:hover {
      color: $secondColor  !important;
    }
  }

  .collapse {
    padding-left: 4px;
  }
}

.navAnimate {
  background-color: #efeff7;
  padding: 8.5px 0;
  box-shadow: 0 0 30px 1.26px #00000042;

  @media (max-width: 480px) {
    padding: 10px;
  }
}

.sideBtn {
  position: relative;
  width: 34px;
  height: 24px;
  padding: 5px;
  margin-left: -5px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform .3s;
  z-index: 2;

  span {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: $mainColor;
    margin: 4px 0;
    transition: width .3s, transform .5s, opacity .3s;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      width: 10px;
      top: 7px;
    }

    &:nth-child(3) {
      width: 16px;
      bottom: 0;
    }
  }

  &:not(.active):hover span:first-child {
    width: 16px;
  }

  &:not(.active):hover span:nth-child(2) {
    width: 20px;
  }

  &.active {
    span {
      background-color: #fff !important;

      &:first-child {
        transform: rotate(45deg);
        top: 8px;
        width: 20px;
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
        top: 8px;
        width: 20px;
      }
    }
  }
}

.sideMenu {
  position: fixed;
  z-index: 1;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  background-color: rgba(19, 67, 89, 0.95);
  padding: 50px 24px;
  transform: translateX(-100%);
  transition: transform 0.3s;
  width: 100%;

  &.active {
    transform: translateX(0);
  }

  .sideMenuInner {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100%;

    .sideMenuLink {
      position: relative;
      display: block;
      font-size: 14px;
      line-height: 26px;
      color: #fff;
      font-weight: 700;
      padding: 5px 0;
      transition: padding 0.3s;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: auto;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 2px;
        background-color: #50a1a3;
        transition: width 0.3s;
      }

      &:hover {
        padding-left: 35px;
        padding-right: 0;

        &:before {
          width: 25px;
        }
      }

      &:first-of-type,
      &:not(.visible)+.visible {
        margin-top: auto;
      }
    }

    .sideMenuSocials {
      align-self: flex-end;
      margin-top: auto;

      li {
        display: inline-block;

        a {
          color: #fff;
          font-size: 22px;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }

    .language {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px 4px;
      color: #fff;
      font-size: 12px;
      line-height: 22px;
      font-weight: 500;
      transition: color 0.3s;

      a {
        color: #fff;
      }
    }
  }
}


content {
  position: relative;
  z-index: 2;
  display: block;

  .container {
    padding: 0px 26px;
    // @media (max-width: 480px) {
    //   padding: 0px 24px 0 10px;
    // }
  }
}

.breadcrumbs {
  margin-top: 111px;

  ul {
    list-style: none;
    padding: 0 2px;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      padding: 15px;
      padding-right: 24px;
      padding-left: 12px;
      position: relative;
      font-weight: 300;
      font-size: 14px;
      color: #b7b7c9;

      a {
        color: #b7b7c9;
      }

      i {
        font-size: 15px;
      }

      &::before {
        content: '\f053';
        font-family: "Font Awesome 6 Pro";
        position: absolute;
        right: 0;
        top: 52%;
        transform: translateY(-50%);
        font-size: 17px;
        font-weight: 300;
        color: #000;
      }

      &:first-child {
        padding-right: 0;

        a {
          color: #158285;
        }

        &::before {
          display: none;
        }
      }

      &:last-child {
        font-weight: 500;
        color: #000;

        a {
          color: #000;
        }
      }
    }
  }

  @media (max-width: 480px) {
    ul {
      li {
        padding-right: 12px;
        padding-left: 4px;
        font-size: 12px;

        &::before {
          font-size: 12px;
        }
      }
    }
  }
}

.certificate {
  .head {

    // display: flex;
    // // align-items: center;
    // padding: 4px 14px;
    // margin-bottom: 8px;
    // img {
    //   height: 45px;
    //   object-fit: contain;
    //   margin-left: 6px;
    // }
    h1 {
      font-size: 32px;
      font-weight: 500;
      color: #000;
      margin-bottom: 5px;
      position: relative;
      line-height: 58px;

      &::before {
        background-image: url('../img/certificate.svg');
        background-repeat: no-repeat;
        vertical-align: middle;
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 8px;
        content: "";
      }
    }
  }

  .inner {
    p {
      color: #aab8bc;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  form {
    max-width: 470px;
    padding-bottom: 80px;
    padding-top: 39px;

    @media (max-width: 480px) {
      padding-top: 70px;
    }

    label {
      color: #1c5a7d;
      font-size: 14px;
      font-weight: 500;
      line-height: 27px;
      margin-bottom: 10px;
    }

    .form-group {
      margin-bottom: 30px;
    }

    .btn {
      position: relative;
      display: inline-flex;
      vertical-align: middle;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3px 30px 0;
      border: 2px solid #1c5a7d;
      color: #fff;
      background-color: #1c5a7d;
      min-height: 54px;
      transition: $transition;
      border-radius: 10px 0 10px 0;
      display: inline-block;
      font-size: 16px;
      line-height: 2.8em;
      font-weight: 700;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }
}

// input:internal-autofill-selected {
//   background-color: #fff !important;
// }
.form-outline {
  position: relative;

  input {
    min-height: 51px;
    font-size: 18px;
    color: #000;
    padding: 0 20px;
  }

  label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575 !important;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #fff;
    transition: $transition;
    padding: 0px 10px;
  }

  /* If input is not empty */
  input:not(:placeholder-shown)~label {
    top: 0% !important;
    font-size: 13px;
  }

  /* If input is empty */
  input:placeholder-shown~label {
    top: 50% !important;
    font-size: 16px;
  }

  /* If input is focus */
  input:focus~label {
    top: 0% !important;
    font-size: 13px;
  }
}

.result {
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 30px 60px #0f0f4c1a;
  margin-right: auto;
  max-width: 530px;
  width: 100%;
  margin-bottom: 70px;

  @media (max-width:1024px) {
    margin: auto;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }

  h2 {
    color: #0f0f4c;
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .status {
    padding-top: 20px;
    position: relative;

    h4 {
      color: #1c5a7d;
      display: block;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 18px;
      line-height: 35px;
    }

    p {
      color: #0f0f4c;
      font-size: 18px;
      line-height: 35px;
      font-weight: 300;
    }

    &.checked p {
      position: relative;
      padding-right: 30px;
      padding-bottom: 2px;

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        top: 50%;
        background-image: url(../img/checked.png);
        transform: translateY(-50%);
      }
    }
  }
}

footer {
  position: relative;
  z-index: 2;
  margin-top: 130px;

  .container {
    padding: 0px 26px;
    // @media (max-width: 480px) {
    //   padding: 0px 24px 0 10px;
    // }
  }

  .inner {
    padding: 34px 0 25px;
    background: #134359;

    .title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 8px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;

        @media (max-width: 480px) {
          height: auto;
        }

        li {
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 42px;

          a {
            color: #fff;
            opacity: .5;
            font-size: 14px;
            font-weight: 300;
          }
        }
      }

      img {
        height: 40.5px;
        object-fit: contain;
      }
    }
  }

  .copyrights {
    position: relative;
    padding: 15px 0;
    background-color: #d8d8e533;

    .media {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .links {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;

        li {
          padding: 5px;

          a {
            font-size: 12px;
            line-height: 22px;
            color: #134359;
            font-weight: 500;
            transition: color .3s;
          }
        }
      }

      .logos {
        display: flex;
        align-items: center;

        a {
          img {
            height: 75px;
            object-fit: contain;
          }

          &:last-child {
            img {
              height: 50px;
            }
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;

        a {
          font-size: 15px;
          color: #134359;
          font-weight: 400;
          margin-left: 4px;
          margin-right: 4px;
          opacity: .2;
          transition: $transition;

          &:hover {
            opacity: 1;
          }

          i {
            font-size: 26px;
          }
        }
      }

      @media (max-width: 480px) {
        justify-content: center;

        .socials,
        .logos,
        .links {
          margin: 5px 0 15px;
        }
      }
    }
  }
}